body{
    background-color:#F0EBE3;
}
nav{
    /* display: inline; */
    /* float: left; */
    /* overflow: hidden; */
}
.fl{
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}

.fl a{
  text-decoration: none;
  color: black;
}
.fl img{
  
}
nav a{
    padding: 10px;
    margin-top: 150px;
    text-decoration: none;
    color:#576F72;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
 nav ul{
  padding-top: 20px;
 }
img{
    float: left;
}

html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: left;
    width: 25%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #E4DCCF;
    padding: 25px;
  }
  
  .container {
    padding: 15px 16px;
  }

  .container p{}
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    padding-top: 20px;
    color: black;
    text-align: center;
    font-weight: 20px;
    font-family: 'Roboto Condensed', sans-serif;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: #E4DCCF;
    background-color: #576F72;
    text-align: center;
    cursor: pointer;
    width: 100%;
    border: 2px solid black;
    border-radius:5px;

  }
  
  .button:hover {
    background-color: #7D9D9C;
  }
  
  .main {
    margin: 50px;
  }
  
  
  

