.right{
    flex: 30%;
    padding-top: 50px;
   padding-left: 80px;
    margin-left: 80px; 
}
.main{
    display: flex;
    position: absolute;
    float: left;
    
}
.logo{
    padding-left: 105px;
}
.form{
    font-family: 'Lato', sans-serif;
    padding-right: 20px;
    padding-left: 20px;
}
.body{
    background-image: url(bg.jpg);
}

#sub{
    margin-left: 160px;
    background-color: brown;
    border: none;
    border-radius: 18px;
    padding: 10px 8px;
    color: white;
}
.input{
    padding-bottom: 12px;
    border-radius: 3px;
    
    /* background-color: blanchedalmond; */
}
/* span{    
    padding: 110px;
} */
h4{
    margin-left: 11 px;
    margin-bottom: 10px;
    font-size: 25px;
}
#email,#pass,#date,#name{
   
    width:50%;
    background-color: blanchedalmond;
    border: .5px solid black;
    padding: 15px;
    border-radius: 23px;
    margin: 9px;
}

